.social i {
    width: 30px;
    height: 30px;
    color: #FFF;
    background-color: #906AA0;
    font-size: 15px;
    text-align:center;
    padding-top: 8px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 70%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social .fa-facebook-square { /* round facebook icon*/
    background: #3b5998;
}

.social .fa-twitter-square { /* round twitter icon*/
    background: #55acee;
}

.social .fa-google-plus-square { /* round google plus icon*/
    background: #dd4b39;
}

.social .fa-instagram { /* round github icon*/
    background:  #db204f;
}

.social .fa-linkedin-square { /* round linkedin icon*/
    background: #007bb5;
}